{% extends "base.html" %}
{% block title %}<title>Announcements</title>{% endblock %}
{% set active_page = "announcements.html" %}

{% block content %}

<h1 style="background-color:skyblue">Announcements!</h1>
<br>
        <p>Financial performance reports</p>
        <br>
        <img src="{{url_for('static',filename='financial.png')}}" width="300"; height="250" alt="Financial Report">

        <p>Employee Layoffs</p>
        <br>
        <p>Press Releases</p>
        <br>
        <p>New Big Hires</p>
        <br>
        <p>New Products </p>
        
      </div>
    </div>
  </div>

  {% endblock %}