{% extends "base.html" %}
{% block title %}<title>Announcements</title>{% endblock %}
{% set active_page = "announcements.html" %}

{% block content %}
<div style="color:white;">
<h1 style="background-color:rgb(13, 13, 212);">Announcements!</h1>
</div>
<br>
<div style="color:white;">
        <p style="background-color:rgb(13, 13, 212);">Financial performance reports</p>
        </div>
        <img src="{{url_for('static',filename='financial.png')}}" width="700"; height="250" alt="Financial Report">
<br>
<div style="color:white;">
        <p style="background-color:rgb(13, 13, 212);">Employee Layoffs:</p>
        </div>
        <p>Here is where we keep track of employees who have recently been let go through one reason or another.
          We just want to prefece and say how thankful we are for their hardwork and dedication.</p>
          <ul>
              <li>Dora the Explorer</li>
              <img src="{{url_for('static',filename='dora.jpg')}}" width="150"; height="150" class="rounded-circle" alt="Joseph LaRosa">
              <br>
              dora@gmail.com <br>
              603-123-4444
              <br>
              <br>
              <li>Lebron James</li>
              <img src="{{url_for('static',filename='lebron.jpg')}}" width="150"; height="150" class="rounded-circle" alt="Joseph LaRosa">
              <br>
              lebron.james@gmail.com <br>
              802-978-4297
              <br>
              <br>
              <li>Thomas Edward Patrick Brady, Jr.</li>
              <img src="{{url_for('static',filename='tom.jpg')}}" width="150"; height="150" class="rounded-circle" alt="Joseph LaRosa">
              <br>
              tom.goat@aol.com <br>
              603-321-1111
              <br>
              <br>
          </ul>
        <br>
        <div style="color:white;">
        <p style="background-color:rgb(13, 13, 212);">New Big Hires: </p>
        </div>
          <p>Here we welcome new hires. We are excited to get to know each one of these individuals
            and work on personal growth. </p>
        <ul>
          <li>Jeffery Bezos</li>
          <li> Dan Smith</li>
          <li>Peyton Hillis</li>
        </ul>
        <br>
        <div style="color:white;">
        <p style="background-color:rgb(13, 13, 212);">New Products:</p>
        </div>
        <p>Our new products consist of an entire new facility we just opened up. Everything is brand new and top of the line.
          We have the friendliest staff there to assist you in any way they can. Our bathrooms are clean, snack selection is extensive,
          and we also offer the most comfortable seats.</p>

        <h3>Come take a tour with us through our new facility!</h3> 
      <iframe width="560" height="315" src="https://www.youtube.com/embed/xPBWy_ecpXY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        
      </div>
    </div>
  </div>

  {% endblock %}