{% extends "base.html" %}
{% block title %}<title>Announcements</title>{% endblock %}
{% set active_page = "announcements.html" %}

{% block content %}

<h1 style="background-color:skyblue">Announcements!</h1>
<br>
        <p>financial performance reports</p>
        <br>
        <img src="{{url_for('static',filename='financial.jpg')}}" width="300"; height="250" class="rounded-circle" alt="Movie Theatre">

        <p>employee layoffs</p>
        <br>
        <p>press releases</p>
        <br>
        <p> new big hires</p>
        <br>
        <p>new products </p>
        
      </div>
    </div>
  </div>

  {% endblock %}