{% extends "base.html" %}
{% block title %}<title>Directory of Employees</title>{% endblock %}
{% set active_page = "directoryofemployees.html" %}

{% block content %}

<h3 style= "background-color: #690707;">Directory of Employees:</h3>
        <!-- <p>This page should contain a list of all the employees including their names, job titles, email addresses, phone numbers, etc..</p> -->
        <body>
          <main role="main">
      
        <!-- jumbotron -->
        <div class="jumbotron text-center">
      
          <!-- rounded -->
          <!-- <img src="{{url_for('static',filename='profpic.png')}}" class="rounded-circle" alt=""> -->
      
          <h1>Meet the Team</h1>
          <h3 style="text-align:left;"> 
            <img src="{{url_for('static',filename='profpic.jpg')}}" width="150"; height="150" class="rounded-circle" alt="Joseph LaRosa">
            <br>
            Joseph LaRosa <br>
            CEO and Founder <br>
            jkl1028@wildcats.unh.edu <br>
            603-930-1666<br>
          </h3>
          <h3 style="text-align:left;"> 
            <img src="{{url_for('static',filename='dansmith.jpg')}}" width="150"; height="150" class="rounded-circle" alt="Joseph LaRosa">
            <br>
            Dan Smith <br>
            Executive Chairman <br>
            dan.smith@byu.com <br>
            123-456-7890<br>
          </h3>
          <h3 style="text-align:left;"> 
            <img src="{{url_for('static',filename='bezos.jpg')}}" width="150"; height="200" class="rounded-circle" alt="Joseph LaRosa">
            <br>
            Jeffery Bezos <br>
            Custodian <br>
            jeffbezos@gmail.com <br>
            111-111-1111<br>
          </h3>
        </div>

  {% endblock %}