{% extends "base.html" %}
{% block title %}<title>Directory of Employees</title>{% endblock %}
{% set active_page = "directoryofemployees.html" %}

{% block content %}
<div style="color:white;">
<h3 style="background-color:rgb(13, 13, 212);">Directory of Employees:</h3>
</div>
<div class="container">
  <div class="row">
      <div class="col-sm-6">
      
          <h1>Meet the Team!</h1>
          
          <h5 style="text-align:left"> 
            <img src="{{url_for('static',filename='profpic.jpg')}}" width="100"; height="150" class="rounded-circle" alt="Joseph LaRosa">
          </h5>
            <br>
           <h4 style="text-align:left"><b>Joseph LaRosa </b></h4>
           <h5 style="text-align:left">
            CEO and Founder <br>
            jkl1028@wildcats.unh.edu <br>
            603-930-1666<br>
          </h5>
          <h5 style="text-align:left;"> 
            <img src="{{url_for('static',filename='dansmith.jpg')}}" width="150"; height="150" class="rounded-circle" alt="Joseph LaRosa">
            <br>
            <h4 style="text-align:left"><b>Dan Smith</b></h4>
            <h5 style="text-align:left">
            Executive Chairman <br>
            dan.smith@byu.com <br>
            123-456-7890<br>
          </h5>
          <h5 style="text-align:left;">
            <img src="{{url_for('static',filename='bezos.jpg')}}" width="150"; height="200" class="rounded-circle" alt="Joseph LaRosa">
            <br>
            <h4 style="text-align:left"><b>Jeffery Bezos</b></h4> 
            <h5 style="text-align:left">
            Custodian <br>
            jeffbezos@gmail.com <br>
            111-111-1111<br>
          </h5>
          <h3 style="text-align:left;">
            <img src="{{url_for('static',filename='peyton.jpg')}}" width="175"; height="200" class="rounded-circle" alt="Joseph LaRosa">
            <br>
            <h4 style="text-align:left"><b>Peyton Hillis </b></h4>
            <h5 style="text-align:left">
            Human Resources <br>
            coverathletemadden12@icloud.com <br>
            123-789-321<br>
          </h5>
        </div>

    <div class="col-sm-6">

      <h1>Work Statement:</h1>
      <h5>At Movie Mafia, we are dedicated to bring you unparalleled service. Our main focus is to serve you and your needs.
        Without you we wouldn't be here! We provide service like no other. Need anything, just give us a holler! </h5>
      <br>
      <br>
      <br>


      <h4><b><u><i>See Yourself Working Here? Apply Now!</b></u></i></h4>
      <a href="https://www.amctheatres.com/careers">
        <img alt="Job Application" src="{{url_for('static',filename='application.png')}}"
        width="350" height="270">
     </a>
        <br>
        <br>
        <br>
      <h4><b><u><i>Follow Our Instagram To Get Updates On Our Employees and Theater! </b></u></i></h4>
      <img src="{{url_for('static',filename='insta.jpg')}}" width="275" height="400" alt="Movie Instagram">
    </div>
  </div>
</div>

  {% endblock %}