{% extends "base.html" %}
{% block title %}<title>Documents</title>{% endblock %}
{% set active_page = "documents.html" %}

{% block content %}
<div class="container">
<div class="row">

      <!-- column 1 -->
<div class="col-sm">

<div style="color:white">
<h3 style="background-color:rgb(13, 13, 212)" font-family="Algerian">Work Documents</h3>
</div>
<p style="color: red;"><u>Below Are A Few Links to Some Work Documents: </u></p>
<h3><i>Judge Ruling in Courtcase:</i></h3>
    <a href="https://www.cnbc.com/2020/08/07/us-judge-ends-decades-old-movie-theater-rules-governing-hollywood.html">Big court case</a>
    <br>
    <br>
<h3><i> About The Movie Licensing:</i></h3>
    <a href="https://insaneimpact.com/movie-licensing/">How to obtain a movie licensing</a>
    <br>
    <br>
<h3><i>Non-disclosure agreements:</i></h3>
    <a href="https://www.filmdaily.tv/template/film-non-disclosure-agreement#:~:text=The%20Film%20Non%20Disclosure%20Agreement,take%20advantage%20of%20the%20information.">The Film Non Disclosure Agreement (NDA)</a>
    <br>
    <br>
<h3><i>Regulators of the movie industry:</i></h3>
    <a href="https://beverlyboy.com/filmmaking/federal-laws-in-the-film-industry-what-they-mean-to-filmmakers/">Film industry regulators</a>
    <br>
    <br>
</div>
<div class="col-sm">

<img src="{{url_for('static',filename='movietheatre.jpg')}}" width="200"; height="150"; style="text-align:center;" alt="Movie Theatre">
</div>
</div>
</div>

  {% endblock %}