{% extends "base.html" %}
{% block title %}<title>Events</title>{% endblock %}
{% set active_page = "events.html" %}

{% block content %}
<style>
  .container {
        display: flex;
        justify-content: center;
  }
  li { display: flex;
  }
</style>

<h3>Upcoming Events</h3>
<div class="container">
  <ul>
    <li style="background-color:rgb(116, 116, 216);">Sponsered Dinner</li>
    <p>This part takes place on July 4th on the front lawn. Cookout and all the games. Contact Peyton Hillis for more details </p>
    <img src="{{url_for('static',filename='cookout.jpg')}}" width="300"; height="250" alt="July 4th Cookout">
    <br>
    <br>
    <li style="background-color:rgb(116, 116, 216)">DON'T FORGET ABOUT OUR 50/50 RAFFLE DRAWING!</li>
    <p>This is taking place on August 13th. No limit to the amount purchased. More bought the higher your chance
      of you winning that trip to Cancoon.</p>
    <br>
    <li style="background-color: rgb(116, 116, 216);">Dan's Birthday lunch</li>
      <p>No need to bring lunches to work on July 15th! Lunch is being cated by THE one and only Dominos</p>
      <img src="{{url_for('static',filename='dominos.jpg')}}" width="200"; height="140" alt="Dominos">
    <br>
    <br>
     <li style="background-color:rgb(116, 116, 216);">Last but not least:</li> 
     <p>During the "busy season" overtime is raised from 1.5x to 2x.</p>
     <p>Of course this is is not required but always encouraged when possible!</p>
     <br>
     <br>
    </ul>


      </div>  
      </div>
    </div>




{% endblock %}