{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Welcome</h3>

        <p>Hello fellow movie enthusiast!</p>
        <p> We are proud to welcome you to our new location. With an establishment are beautiful as ours,
           it only goes as far as to be helped by the best staff around. Here we are certain that you will
           have a once in a lifetime movie experience. Movie Mafia is dedicated to bringing you, the customer,
           the best possible movie experience. This starts from when you first click on our website, all the way
           till you leave those doors. Our excellent staff is willing to help however and whenever needed. Just give
           us a shout. </p>
      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3>News</h3>
        <p>Our theater is going though some changes.</p>
        <p>To start off, we just opened up a brand new location in Hampton, New Hampshire. We have brand 
          new recliners, clean bathrooms, and the best snack selection around. But that is not all that is 
          new. Along with this new location, we are proud to announce that, for the first time since opening,
          we have made it on to the Fortune 500 list. Seems almost impossible for a movie theatre, and we wouldn't
          be here without you. So thank you for that.
        </p>
      </div>
    </div>
  </div>
{% endblock %}